## Data Cleaning and Wrangling - Solar Panel Housing CSVs
This notebook contains data cleaning and wrangling for MLS housing data.

In [52]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
import random
import pickle
import warnings
warnings.filterwarnings("ignore")

In [53]:
pop_df = pd.read_csv('~/data_science_projects/solar_panel_data/pop_sample_a.csv')

In [54]:
pop_df.drop(columns=['Stat', 'CP', 'SP:LP', 'Elec Suppl', 'Closed Date',
                     'Electricity', '% PCH - OLP', '% PCH - PLP'], inplace=True)

In [55]:
pop_df.rename(columns={"SP:OLP": "% SP:OLP"}, inplace=True)

In [56]:
def new_const(row):
    if row['New Const'] == 'Yes':
        return 1
    else:
        return 0
pop_df['New'] = pop_df.apply(new_const, axis = 1)

In [57]:
pop_df['SP:OLP'] = pop_df['Sold Pr']/pop_df['List Price']
pop_df.drop(columns=['% SP:OLP', 'New Const'], inplace=True)

In [58]:
pop_df.drop(index=[1281, 1614, 2046, 2632], inplace=True)

In [59]:
solar_df1 = pd.read_csv('~/data_science_projects/solar_panel_data/solar_remarks.csv')

In [60]:
def has_solar(row):
    words = ['Photovoltaic', 'solar panel', 'solar panels', 'passive solar', 'solar system', 'solar energy']
    if any(word in row['Remarks'] for word in words) == True:
        return 1
    else:
        return 0
solar_df1['has_solar'] = solar_df1.apply(has_solar, axis = 1)

In [61]:
solar_df1 = solar_df1[solar_df1['has_solar'] == 1]

In [62]:
solar_df2 = pd.read_csv('~/data_science_projects/solar_panel_data/solar_field.csv')

In [63]:
solar_df = solar_df1.append(solar_df2, ignore_index=True)

In [64]:
solar_df.drop_duplicates(subset=['MLS #'], inplace=True)

In [65]:
solar_df.drop(columns=['Stat', 'CP', 'SP:LP', 'Elec Suppl',
                       'Closed Date', 'Electricity', '% PCH - OLP',
                       '% PCH - PLP', 'has_solar'], inplace=True)

In [66]:
solar_df.rename(columns={"SP:OLP": "% SP:OLP"}, inplace=True)

In [67]:
def new_const(row):
    if row['New Const'] == 'Yes':
        return 1
    else:
        return 0
solar_df['New'] = solar_df.apply(new_const, axis = 1)

In [68]:
solar_df['SP:OLP'] = solar_df['Sold Pr']/solar_df['List Price']
solar_df.drop(columns=['% SP:OLP', 'New Const'], inplace=True)
solar_df.head(1)

,City,Green Features,List Price,MLS #,MT,Remarks,Sold Pr,New,SP:OLP
0,Champaign,NaN,129900,9639898,319,Wonderful home on double lot in south Champaig...,124000,0,0.95458

In [69]:
pop_df.to_pickle("./witho_df.pkl")

*hypothesis testing
*calculate cohen's d 
*z-test, t-test
*p value, accuracy
*result of hypothesis
*

In [70]:
solar_df.to_pickle("./with_df.pkl")